@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta as setas no Chrome, Safari, Edge */
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Oculta as setas no Firefox */
input.no-spinner {
  -moz-appearance: textfield;
}